# Spécifique au système d'exploitation
.DS_Store

# éditeurs
*.swp

# Regroupeur/Rubygems
*.gem
.bundle
pkg/*
tags
Gemfile.lock

# Vagrant
.vagrant
Vagrantfile
!example_box/Vagrantfile

# Fichiers RVM pour le réglage gemset/ruby
.ruby-*
.rvmrc
